@charset "utf-8";
/* Banner */
.banner { position:relative; width:100%; overflow:hidden; z-index:3; }
.banner .bd { zoom:1; }
.banner .bd img { width:100%!important; height:335px!important; }

/* 主体 */
.container { position:relative; }
.sidebar { position:absolute; top:-110px; width:100%; height:65px; background:url(vr.png) no-repeat center; padding-top:45px; z-index:9999; }
.main { }
.wrapBt { height:0; background:none; overflow:hidden; clear:both; }

/* 左侧栏目标题 */
.leftTitle { float:right; height:65px; }
.leftTitle i,.leftTitle s { display:block; padding-left:8px; }
.leftTitle i { font-size:28px; line-height:28px; color:#fff;  background:url(leftTitle.png) no-repeat center left; padding-left:20px; margin:5px 20px 0 0; }
.leftTitle s { color:#9a9a9a; font:12px/16px arial; text-decoration:none; text-transform:uppercase; }

/* 二级、三级菜单 */
.menu { float:left; }
.menu dl dt { float:left; }
.menu dl dt a { display:block; width:155px; height:65px; line-height:65px; text-align:center; font-size:16px; color:#fff; }
/*.menu dl dt a:hover,.menu dl dt .current { background:#fff; color:#23a1eb; }*/
.menu dl dt a:hover { background:#fff; color:#23a1eb; }

.menu dl dd { padding:5px 0 5px 55px; border-bottom:1px solid #eee; background:url(o_ico_18.gif) no-repeat 45px 13px; font-size:14px; text-align:left; }
.menu dl dd a:hover,.menu dl dd .current { color:#32a237; text-decoration:none; }

/* 面包屑 */
.location { position:relative; height:46px; border-bottom:1px solid #eaeaea; line-height:46px; }
.location h3 { float:left; height:44px; color:#000; font-weight:100; font-size:17px; display:none; }
.breadcrumbs { width:1002px; margin:0 auto; text-align:right; }
.breadcrumbs a { display:inline-block; margin-left:12px; padding-left:12px; background:url(o_ico_04.gif) no-repeat 0 center; vertical-align:top; }
.breadcrumbs .u-home { padding-left:20px; background:url(o_ico_03.gif) no-repeat 0 center; }

/* 内容模式 */
.article { padding:20px 0 40px; line-height:2; font-size:14px; word-wrap:break-word; }
.article .hd { padding:0 0 20px; text-align:center; }
.article .hd h1 { color:#000; font-size:20px; }
.article .hd .titBar { color:#797979; font-size:12px; } 
.article .bd { padding-bottom:40px; }
.article .ft { padding:20px 0 0; border-top:1px solid #ddd; }

/* 头部新闻 */
.hotNews { margin-bottom:30px; background:#848484; overflow:hidden; }
.hotNews .pic { float:left; width:390px; height:250px; margin-right:5px; }
.hotNews .pic img { width:100%; height:100%; }
.hotNews dl { display:block; overflow:hidden; zoom:1; padding:25px 20px 0 15px; line-height:22px; }
.hotNews dl dt { margin-bottom:13px; padding-left:10px; background:url(o_ico_05.jpg) no-repeat 0 13px; color:#fff; font-size:14px; line-height:30px; }
.hotNews dl dt a { color:#fff; }
.hotNews dl dt a:hover { color:#000; }
.hotNews dl .i { min-height:110px; padding-bottom:10px; padding-left:10px; color:#eee; }
.hotNews dl .m { width:84px; height:24px; margin-left:10px; background:#fff; line-height:24px; text-align:center; }
.hotNews dl .m a { display:block; color:#333; }
.hotNews dl .m a:hover { background:#666; color:#fff; }

/* 新闻列表 */
.news { padding:0 0 40px; }
.newsTable th { border:1px solid #fff; background:#c8cacb; color:#fff; font-weight:bold; text-align:center; }
.newsTable td { padding:8px 10px; border-bottom:1px solid #dcd9d4; line-height:20px; }
.list { padding:0 0 40px; }
.list li { padding:7px 0; border-bottom:1px dashed #e0e0e0; background:url(o_ico_11.gif) no-repeat 2px 13px; line-height:20px; clear:both; }
.list li span { float:right; color:#999; font-size:12px; }
.list li a { padding-left:15px; }
.list li a:hover { text-decoration:underline; }

/* 图文新闻 */
.pothoItem { margin:0 0 40px; }
.pothoItem .item { margin-bottom:20px; padding:0 0 20px; border-bottom:1px dashed #d3d3d3; overflow:hidden; }
.pothoItem .item .pic { float:left; width:200px; height:150px; margin-right:20px; padding:4px; border:1px solid #e7e7e7; }
.pothoItem .item .pic img { width:200px; height:150px; }
.pothoItem .item dl { display:block; overflow:hidden; zoom:1; padding:0; line-height:20px; }
.pothoItem .item dl dt { font-size:16px; line-height:32px; }
.pothoItem .item dl .d,.pothoItem .item dl .m { display:none; }
.pothoItem .item dl .i { padding:5px 0 0; color:#999; font-size:14px; line-height:25px; }

/* 图片列表 */
.pic-item-list { margin:0 0 20px; }
.pic-item-list .pic-item { display:block; float:left; width:130px; margin-bottom:10px; padding:0; }
.pic-item-list .list-pic { display:block; width:100px; height:100px; margin:0 auto; padding:4px; border:1px solid #919090; line-height:100px; text-align:center; }
.pic-item-list dl { padding:0 5px; line-height:26px; text-align:center; }
.piList { padding:0 0 20px; overflow:hidden; }
.piList .pic-item-list { width: 1208px; margin: 0; padding: 0; }
.piList .pic-item { position: relative; width: 355px; padding:10px; border:1px solid #e1e1e1; margin:0 18px 25px 0; display: inline; }
.piList .list-pic { display:block; width:355px; height:265px; margin-bottom:0; padding:0; border:0; line-height:148px; }
.piList .list-pic img { width:355px; height:265px; }
.piList dl { line-height:20px; margin-top:10px; }
.piList dl dt { height:30px; font-size:14px; line-height:30px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; }
 
/* 分页 */
.page { padding:0 0 40px; line-height:24px; text-align:center; }
.page a { display:inline-block; margin:0 2px; padding:0 8px; border:1px solid #ddd; background:#fff; color:#333; vertical-align:top; }
.page a:hover,.page .current { border:1px solid #23a2eb; background:#23a2eb; color:#fff; }

/* 人才招聘 */
.hrTop { padding:0 0 30px; border-bottom:1px solid #ddd; }
.hrTop li { padding-left:16px; background:url(ico_05.gif) no-repeat 0 8px; font-weight:bold; line-height:24px; }
.hrTable .hrTableTh { height:32px; background:#666; color:#fff; }
.hrTable th { color:#fff; font-weight:normal; }
.hrTable td { padding:0 8px; }
.hrTable .bg td { background:#eee; }
.hr { position:relative; padding:0 0 35px; }
.hr h3 { padding-left:0; border-bottom:1px dotted #ccc; color:#32a237; font-size:20px; line-height:55px; }
.hr h3 s { float:right; width:20px; height:20px; margin-top:17px; cursor:pointer; }
.hr h3 .off { background:url(hr_down.gif) no-repeat center; }
.hr h3 .on { background:url(hr_up.gif) no-repeat center; }
.hrItem { margin-bottom:5px; }
.hrItem .title { border-bottom:1px dotted #ccc; color:#999; font-weight:bold; line-height:36px; }
.hrItem .title span { float:right; font-weight:100; }
.hrItem .title span a { color:#88000c; }
.hrItem .con { margin-bottom:10px; padding:15px 0; line-height:24px; }
.hrItem .con h4 { font-size:14px; line-height:36px; }
.hrItem .apply { width:95px; height:25px; padding:0; background:#01286f; color:#fff; line-height:25px; text-align:center; }
.hrItem .apply a { color:#fff; }
.hr-list { margin-bottom:5px; padding:5px 5px 15px; border-bottom:1px dotted #777; }
.hr-list .title { padding:0; color:#3A7FCA; font-weight:bold; line-height:20px; }
.hr-list .title span { float:right; font-weight:100; }
.hr-list .info { padding:5px 0; line-height:24px; }
.hr-list .apply { height:24px; line-height:24px; text-align:right; }

/* 新闻列表 */
.message { padding:0 0 30px; }
.message-list { margin-bottom:5px; padding:5px 5px 15px; border-bottom:1px dotted #ddd; }
.message-list .m-title { padding:0; color:#32a237; font-size:14px; font-weight:bold; line-height:20px; }
.message-list .m-title span { float:right; color:#01286f; font-size:12px; font-weight:100; }
.message-list .m-info { padding:5px 0; line-height:24px; }
.message-list .r-title { padding:0; line-height:20px; }
.message-list .r-info { padding:5px 0; line-height:24px; }

/* 人才招聘 */
.form-panel { padding:0 0 30px; }
.form-panel h4 { margin-bottom:10px; padding:0 20px; background:#666; color:#fff; line-height:30px; }
.form-panel .tips { padding:10px 0 10px 100px; font-weight:bold; font-size:13px; text-align:left; }
.form-panel .field { clear:both; }
.form-panel li.field label { display:block; float:left; width:100px; line-height:24px; text-align:right; }
.form-panel .input { padding:5px 0; zoom:1; }
.form-panel .field:after { content:'\20'; display:block; height:0; clear:both; }
.form-panel .text { height:20px; padding:2px 3px; border:1px solid #ccc; background:#fff; color:#555; }
.form-panel .textarea { width:450px; height:100px; padding:1px 3px; border:1px solid #ccc; background:#fff; color:#555; }
.form-panel .submit-field { padding:0 10px 20px 100px; _padding:0 10px 20px 100px; clear:both; }
.form-panel .submit-field input { margin-right:10px; }
.form-panel .submit-field .btn-submit,.form-panel .submit-field .btn-reset { width:93px; height:29px; border:none; background:#666; color:#fff; cursor:pointer; }

/* 产品详细页 */
.m-detail { margin-bottom:30px; }
.m-detail .m-property { float:left; width:100%; }
.m-detail .property { margin-left:350px; }
.m-detail .property h1 { font-weight:100; font-size:18px; line-height:34px; }
.m-detail .property .m-i-a { margin-bottom:8px; padding:8px 0 15px; border-bottom:1px dotted #d9d9d9; color:#888; font-size:14px; line-height:25px; }

.m-detail .gallery { position:relative; float:left; width:350px; margin-left:-100%; }
.m-detail .gallery .bigPic { width:300px; height:224px; }

.product-detail { border:1px solid #e5e5e5; }
.product-detail .hd { height:45px; border-bottom:1px solid #e5e5e5; background:#f6f6f6; }
.product-detail .hd h2 { float:left; width:136px; height:46px; margin:-2px 0 -1px; border-top:2px solid #0058af; border-right:1px solid #e5e5e5; background:#fff; font-size:22px; font-weight:100; line-height:46px; text-align:center; }
.product-detail .bd { padding:25px; line-height:28px; font-size:14px; }

.vr .hd { padding:10px 30px 10px 30px; background:url(vr-hd.jpg) no-repeat center top #fbfbfb; }
.vr .hd ul { border-bottom:1px dashed #dcdcdc; margin-right:40px; }
.vr .hd ul li { float:left; height:50px; line-height:50px; margin:0 5px; }
.vr .hd ul li a { padding:2px 9px; font-size:14px; }
.vr .hd ul li a:hover,.vr .hd .current a { background:#c3ad92; color:#fff; border-radius:5px; }

.vr .hd ul .li01 { font-size:14px; color:#00a1f7; font-weight:bold; background:url(vr01.png) no-repeat left center; padding-left:40px; }
.vr .hd ul .li02 { font-size:14px; color:#00a1f7; font-weight:bold; background:url(vr02.png) no-repeat left center; padding-left:40px; }
.vr .hd ul .li03 { font-size:14px; color:#00a1f7; font-weight:bold; background:url(vr03.png) no-repeat left center; padding-left:40px; }
.vr .hd ul .li04 { font-size:14px; color:#00a1f7; font-weight:bold; background:url(vr01.png) no-repeat left center; padding-left:40px; }
.vr .hd ul .li05 { font-size:14px; color:#00a1f7; font-weight:bold; background:url(vr02.png) no-repeat left center; padding-left:40px; }
.vr .hd ul .li06 { font-size:14px; color:#00a1f7; font-weight:bold; background:url(vr03.png) no-repeat left center; padding-left:40px; }
.vr .hd ul .li07 { font-size:14px; color:#00a1f7; font-weight:bold; background:url(vr01.png) no-repeat left center; padding-left:40px; }
.vr .hd ul .li08 { font-size:14px; color:#00a1f7; font-weight:bold; background:url(vr02.png) no-repeat left center; padding-left:40px; }
.vr .hd ul .li09 { font-size:14px; color:#00a1f7; font-weight:bold; background:url(vr03.png) no-repeat left center; padding-left:40px; }
.vr .hd ul .li010 { font-size:14px; color:#00a1f7; font-weight:bold; background:url(vr01.png) no-repeat left center; padding-left:40px; }
.vr .hd ul .li011 { font-size:14px; color:#00a1f7; font-weight:bold; background:url(vr02.png) no-repeat left center; padding-left:40px; }
.vr .hd ul .li012 { font-size:14px; color:#00a1f7; font-weight:bold; background:url(vr03.png) no-repeat left center; padding-left:40px; }

.vr .hd ul .more { height:50px; line-height:50px; color:#777; font-size:14px; margin-left:20px; cursor:pointer; }
/*
.vr-01 .hd .ul01 .one { padding-left:165px; }
.vr-01 .hd .ul02 .one { padding-left:106px; }
.vr-02 .hd ul .one { padding-left:134px; }
*/
.aa_show .one { display:block; float:left; }
.aa_hide .one { display:none; float:left; }

.vr .hd .search { padding:20px; background:#f1f1f1; margin-right:40px; }
.vr .hd .search form { float:left; }
.vr .hd .search .txt { float:left; width:340px; height:40px; line-height:40px; border:2px solid #00a7fe; background:#fff; font-size:14px; padding-left:40px; }
.vr .hd .search .btn { float:left; width:100px; height:40px; text-align:center; line-height:40px; background:#00a7fe; color:#fff; font-size:20px; }
.vr .hd .search p { float:left; height:40px; line-height:40px; margin-left:25px; color:#aaa; }
.vr .hd .search p a { padding:0 10px; color:#aaa; }
.vr .hd .search p a:hover { color:#23a2eb; }

.vr .bd { margin-top:15px; }
.vr .bd ul li { position:relative; float:left; padding:15px 15px 30px 15px; border:1px solid #e1e1e1; width:330px; margin:0 40px 50px 0; -webkit-box-shadow: 3px 3px 10px #ccc; box-shadow: 3px 3px 10px #ccc; }
.vr .bd ul li .p1 a { display:block; font-size:14px; color:#444; margin-top:20px; width:265px; background:url(vr05.jpg) no-repeat right center; }
.vr .bd ul li a .img01 { position:absolute; top:15px; left:15px; display:none; }
.vr .bd ul li:hover .img01 { display:block; }

.vr .bd ul li .p2 { color:#c5c5c5; margin-top:10px; }
.vr .bd ul li .p3 { position:absolute; right:0; bottom:0; z-index:9; }
.vr .bd ul li .p3 .img02 { position:absolute; left:-145px; bottom:0; display:none; z-index:99;  }
.vr .bd ul li .p3:hover .img02 { display:block; }

.vr .bd ul li .jiathis_style_32x32 { position:absolute; right:21px; bottom:66px; }
.vr .bd ul li .jiathis_style_32x32 a { width:20px!important; height:20px!important; background:url(vr06.jpg) no-repeat; }

.vr-display { margin:40px 0; }

.case { margin-top:15px; }
.case ul li { float:left; width:355px; padding:10px; border:1px solid #e1e1e1; margin:0 18px 25px 0; }
.case ul li span { display:block; margin-top:13px; color:#000; font-size:14px; }
.case ul li span:hover { color:#23a2eb; }

.news { padding-top:40px; }
.news01 { float:left; }
.news01 ul li { position:relative; width:400px; height:300px; margin-bottom:35px; }
.news01 ul li .li01 { position:absolute; left:0; bottom:0; width:375px; height:115px; background:url(bg03.png) repeat; padding:0 0 0 25px; }
.news01 ul li .li01 h1 { padding-top:10px; font-size:15px; font-weight:normal; }
.news01 ul li .li01 h1 a { color:#fff; }
.news01 ul li .li01 h1 a:hover { color:#ec6608; }
.news01 ul li .li01 span { display:block; color:#fff; margin:10px 0 10px 5px; }
.news01 ul li .li01 .more { display:block; width:110px; height:25px; text-align:center; line-height:25px; border:1px solid #fff; color:#fff; font-size:12px; text-transform:uppercase; }
.news01 ul li .li01 .more:hover { color:#ec6608; border-color:#ec6608; }


.news02 { width:720px; float:right; }
.news02 ul { padding-bottom:40px; }
.news02 ul li { padding:18px 30px; border-bottom:1px solid #d9d9d9;  }
.news02 ul li .date { float:left; width:60px; color:#474747; text-align:right; }
.news02 ul li .date i { display:block; font-size:46px; line-height:1; }
.news02 ul li .date span { display:block; font-size:16px; }
.news02 ul li .txt { float:right; width:570px; }
.news02 ul li .txt h1 a { font-size:17px; color:#737373; font-weight:normal; }
.news02 ul li .txt p { color:#cacaca; margin-top:10px; }

.news02 ul li:hover { background:#23a2eb; border-color:#23a2eb; }
.news02 ul li:hover .date { color:#fff; }
.news02 ul li:hover .txt h1 a { color:#fff; }
.news02 ul li:hover .txt p { color:#fff; }

.zt { background:url(zt.jpg) no-repeat center; min-height:849px; }
.g-in { width:1244px; margin:0 auto; }

.zt .hd { padding-left:20px; } 
.zt .hd h1 { font-size:30px; color:#fff;  padding-top:50px; }
.zt .hd p { font-size:20px; color:#cfcfd1; border-top:1px solid #6b6b73; width:600px; padding-top:5px; margin-top:5px; }
.zt .hd p i { font-size:18px; color:#6b6b73; text-transform:uppercase; font-weight:bold; margin-left:15px; }

.zt .bd { background:#fcfcfb; margin-top:30px; }
.zt01 { width:311px; float:left; }
.zt01 .pic { width:311px; height:313px; }
.zt01 .txt { width:261px; height:268px; padding:45px 25px 0 25px; }
.zt01 .txt h1 { font-size:23px; color:#45a9ff; }
.zt01 .txt ul { margin-top:25px; }
.zt01 .txt ul li { line-height:25px; }
.zt01 .txt ul li a { color:#a6a6a5; }
.zt01 .txt ul li a:hover { color:#45a9ff; }
.zt01 .txt p {  color:#a6a6a5; line-height:25px; }

/* product_display */


.display .hd { text-align:center; }
.display .hd h1 { font-size:25px; color:#6c6c6c; text-align:center; padding-top:60px; }
.display .hd p { margin-top:15px; }
.display .hd p a { margin:0 20px; color:#b8b8b8; }
.display .hd p a:hover { color:#128ce4; }
.display .hd p .a1 { background:url(display01.jpg) no-repeat left; padding-left:15px; }
.display .hd p .a2 { background:url(display02.jpg) no-repeat right; padding-right:15px; }

.display01 .bshare-custom { float:right; margin-right:100px; }
.display01 .like { float:right; margin-right:20px; height:22px; line-height:22px; background:url(display03.jpg) no-repeat left; padding-left:30px; cursor:pointer; }


/* magnifier */
.magnifier{ position:relative; width:1000px; margin-top:25px; margin-left:105px; }
.magnifier .prev,.magnifier .next { position: absolute; bottom:4px; display: block; width:16px; height:76px; cursor: pointer; }
.magnifier .prev { left: 0; right: auto; background:url(prev01.jpg) no-repeat; }
.magnifier .next { left: auto; right: 0; background:url(next01.jpg) no-repeat; }
.magnifier .tempWrap { width:945px!important; margin: 10px auto 0; }
.tb-thumb{ margin:10px 0 0; overflow:hidden; padding-left:20px; }
.tb-thumb li{ background:none repeat scroll 0 0 transparent; float:left; height:42px; margin:0 10px 0 0; overflow:hidden; padding:1px; }
.tb-pic img { width: 100%; height: 100%; }
.tb-s310, .tb-s310 a{ width:980px; height:500px; }
.tb-s310, .tb-s310 img{ max-width:980px; max-height:500px; }
.tb-s310 a{ *font-size:271px; }
.tb-s40 a{ *font-size:35px; }
.tb-s40, .tb-s40 a { height:80px; width:120px; }
.tb-booth { padding: 10px; border:1px solid #CDCDCD; position:relative; z-index:1; }
.tb-thumb li { height:80px; border:2px solid #fff; }
.tb-thumb .tb-selected { border: 2px solid #0093de; }
div.zoomDiv{ z-index:999; position:absolute; top:700px !important; left:50% !important; width:300px!important; height:153px; margin-left:160px; background:#ffffff; border:1px solid #CCCCCC; display:none; text-align:center; overflow:hidden; }
div.zoomMask{ position:absolute; background:url("images/mask.png") repeat scroll 0 0 transparent; cursor:move; z-index:1; }

.display02 { width:865px; margin:35px auto; background:#f6f6f6; border:1px solid #ededed; padding:25px 105px 25px 40px; }
.display02 p { line-height:30px; color:#6c6c6c; }
.display02 p i { color:#1e7bc9; }
.display02 form { position:relative; margin-top:20px; }
.display02 form textarea { width:600px; height:80px; padding:15px 0 0 15px; background:#fff; font-size:14px; }
.display02 form .btn { position:absolute; top:55px; right:90px; width:120px; height:30px;text-align:center; line-height:30px; background:#128ce4; font-size:16px;color:#fff; border-radius:5px; }

.display03 { background:url(bg01.jpg) repeat; padding:20px; }
.display03 .hd01 {  background:url(display05.jpg) no-repeat bottom; padding-bottom:10px; }
.display03 .hd01 .more { float:right; line-height:30px; background:url(display04.jpg) no-repeat left; padding-left:20px; }
.display03 .hd01 h1 { font-size:25px; color:#0075d6; }
.display03 .hd01 h1 i { font-size:20px; color:#000; font-weight:normal; margin-left:10px; }

.display03 .wrap01 { width:995px; margin:0 auto; }
.display03 ul { width:1037px; margin-top:25px; }
.display03 ul li { position:relative; float:left; margin-right:32px; }
.display03 ul li span { display:block; text-align:center; margin-top:20px; }
.display03 ul li p { position:absolute; top:4px; left:4px; width:300px; height:200px; border:1px solid #fff; }




.zt02 { background:url(zt02.jpg) no-repeat center; min-height:907px; overflow:hidden; }

.zt02 .hd { text-align:center; }
.zt02 .hd  h1 { font-size:45px; color:#fff; font-weight:normal; line-height:45px; padding-top:50px; }
.zt02 .hd  h1 i { display:inline-block; width:100px; height:1px; background:#43a0d8; margin:12px 10px; }
.zt02 .hd p { font-size:20px; color:#FFF; margin-top:15px; }
.zt02 .hd span { display:block; font-size:14px; color:#7bb2de; margin-top:10px; text-transform:uppercase; }

.zt02 .mm { margin-top:30px; }
.zt02 .mm ul li { float:left; margin:0 35px;  }



.wrap_it_all { min-height:100%; width:1200px; margin:0 auto; padding-top:60px; }
#slider  { clear:both; height:346x; padding:160px 0 0 50px; width:1200px; overflow:hidden;}
.slider_area {}
.slider_carousel {position:absolute; width:1200px;}
.roundabout-holder  {padding:0; height:490px; position:absolute; width:1200px; }
.roundabout-moveable-item { border:0; overflow:hidden; list-style:none; width:490px; height:490px; }
.roundabout-moveable-item img {    width: 98%;
    height: 98%;
    display: block;
    padding: 1%;

    border-radius: 100%;}

.wrap_it_all ul li { position:relative; cursor:pointer; }
.wrap_it_all ul li i { display:block; position:absolute; left:0; top:0; width:100%; height:100%; background:#fff; border-radius:100%; z-index:-1; opacity:0.24; }
.wrap_it_all ul li .img02 { position:absolute; top:50%; left:50%; margin-left:-60px; margin-top:-61px; width:120px; height:122px; display:none; }
.roundabout-in-focus:hover .img02 { display:block; }

.wrap_it_all ul .roundabout-in-focus .layer01 ,.wrap_it_all ul .roundabout-in-focus .img02 { display:block; }
.layer01 { display:none; width:1200px; height:700px; overflow:hidden; } 

/*
#myRoundabout {  
-webkit-box-reflect: below 0px -webkit-linear-gradient(bottom, rgba(255,255,255,0.3) 0%, transparent 40%, transparent 100%);  
padding: 0px 10px;  
position:relative;  
}  
  
#myRoundabout .img01 {  
z-index: -1;  
height:490px;  
width:490px;  
}  
  
#myRoundabout:before {  
content:"";  
background: -moz-linear-gradient(top, white, white 30%, rgba(255,255,255,0.9) 65%, rgba(255,255,255,0.7)) 0px 0px,-moz-element(#imgbox) 0px 0px no-repeat;  
/*百分比为调倒影的透明度*/  
/*
-moz-transform: scaleY(-1);  
padding: 1px 0px;  
background-origin: padding-box, content-box;  
background-clip: padding-box, content-box;  
position:absolute;  
height:490px;  
width: 490px;  
top: 490px;  
left:0px;  
}  
*/

.message01 { width:585px; margin:0 auto; padding-bottom:40px;  }
.message01 h1 { text-align:center; font-size:26px; color:#23a1eb; font-weight:normal; margin:40px 0 20px; }
.message01 h1 i { font-size:26px; color:#222; margin-left:10px;  }
.message01 form ul li { margin-top:10px; }
.message01 form i { color:#fe1b26; line-height:30px; }
.message01 form label { float:left; font-size:14px; color:#000; line-height:30px; }
.message01 form input { float:left; }
.message01 .text {  width:190px; height:30px; line-height:30px; border:1px solid #9e9e9e;  padding-left:10px; }
.message01 .textarea {  width:530px; height:130px; border:1px solid #9e9e9e; padding:10px 0 0 10px; }
.message01 .btn { width:110px; height:30px; text-align:center; line-height:30px; background:#23a1eb; color:#fff; font-size:18px; border-radius:10px; margin-left:40px; cursor:pointer; }

.cus { padding:20px 0; }
.cus .hd { float:left; width:155px; height:65px; text-align:center; line-height:65px; background:#23a2eb; color:#fff; font-size:16px; }
.cus .bd { float:left; width:1035px; background:#eee; }
.cus .bd ul li { height:65px; line-height:65px; padding-left:20px; font-size:14px;  }

.cus01 { display:block!important; }
.cus02 { display:none!important; }

.history3{ width:1002px; margin-top:20px; margin:20px auto; }
.history3 .picList{ width:1002px; position: relative; margin:0 auto; }
.history3 .bd { width: 1002px; min-height:521px; }
.history3 .bd li { width: 980px; height:auto !important; padding:10px; border:1px solid #ccc; top:50%!important; min-height: 500px;}
.history3 .bd img { }
.history3 .phd { padding: 0 20px; margin-top:10px; }
.history3 .phd li { width: 120px; float: left; margin:0px 3px; padding:3px; border:1px solid transparent; opacity:0.7; filter:alpha(opacity=70); cursor:pointer; }
.history3 .phd li.on { border:1px solid #23a2eb; opacity:1; filter:alpha(opacity=100); }
.history3 .prev,.history3 .next { position: absolute; width: 30px; height: 30px; }
.history3 a.prev,.history3 a.next { z-index: 99;position:absolute;bottom: 0px; left:0px; display:inline-block; width:11px; height:80px;  cursor:pointer;font-family: 'simsun';font-size: 42px;line-height:80px;color: #000;}
.history3 a.next { right:0px; left:auto;}

.layer02 { position: relative; width:1400px; overflow: hidden; z-index:0;  }
.layer02 .bd { position: relative; width:1400px; text-align: center; overflow: hidden; }

.layer02 .bd img { max-height:680px !important; width:auto !important; }


.layer02 .prev01,.layer02 .next01 { position:absolute; top:50%; margin-top:-23px; width:24px; height:45px; display:none; z-index:999; }
.layer02 .prev01 { left:10px; background:url(left01.png) no-repeat; }
.layer02 .next01 { right:10px;  background:url(next01.png) no-repeat; }

.layer-1 { display:none; width:1400px; height:680px; overflow:hidden; }

#jue.u-cursor-next {cursor:url(next.cur),pointer;}
#jue.u-cursor-prev {cursor:url(prev.cur),pointer;}